/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Hero';
    src: url('original_Hero.eot?#iefix') format('embedded-opentype'), 
         url('original_Hero.woff') format('woff'),
         url('original_Hero.ttf') format('truetype'),
         url('original_Hero.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}